# Ignore analysis outputs
code_out/

# Ignore slurm logs
*.slurm.e*
*.slurm.o*

# Ignore built software (reproducibly installed, don't track)
software_build/

# Ignore apptainer cache and temp files
.apptainer/

# Ignore temp files
*.pyc
__pycache__/
.ipynb_checkpoints/
.RData
.Rproj.user
.Rhistory
